<ion-header>
  <ion-toolbar>
    <ion-title class="toolbar-title">¿No sabes qué jugar?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container">
    <h2 class="intro-text">Responde estas preguntas y descubre tu género ideal</h2>
    
    <form (ngSubmit)="calcularGenero()">
      <div class="card-container">
        <div *ngFor="let pregunta of preguntas; let i = index" class="card">
          <ion-item>
            <ion-label>{{ pregunta.texto }}</ion-label>
            <ion-select [(ngModel)]="respuestas[i]" name="pregunta{{i}}" required>
              <ion-select-option *ngFor="let opcion of pregunta.opciones" [value]="opcion.valor">
                {{ opcion.texto }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>

      <div class="boton-contenedor">
        <ion-button expand="full" type="submit" class="submit-button custom-button" [disabled]="!formValido()">
          Obtener Resultado
        </ion-button>
      </div>
      
    </form>

    <div *ngIf="generoRecomendado">
      <h3>Tu género recomendado es: {{ generoRecomendado }}</h3>
      <p>Juegos populares del género:</p>
      <ul>
        <li *ngFor="let juego of juegosRecomendados">{{ juego.nombre }}</li>
      </ul>
    </div>
  </div>
</ion-content>
