<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Juego</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarFormulario()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="agregarJuego()">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Título</ion-label>
        <ion-input [(ngModel)]="nuevoJuego.titulo" name="titulo" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Categoría</ion-label>
        <ion-input [(ngModel)]="nuevoJuego.categoria" name="categoria" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Número de jugadores</ion-label>
        <ion-input [(ngModel)]="nuevoJuego.jugadores" name="jugadores" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Imagen (URL)</ion-label>
        <ion-input [(ngModel)]="nuevoJuego.imagen" name="imagen" type="url" required></ion-input>
      </ion-item>
    </ion-list>

    <ion-footer>
      <ion-button expand="full" type="submit" [disabled]="!nuevoJuego.titulo || !nuevoJuego.categoria || !nuevoJuego.jugadores || !nuevoJuego.imagen">
        Agregar Juego
      </ion-button>
    </ion-footer>
  </form>
</ion-content>
